.footer {
    background-color: black;
}
.footer-body {
    height: 170px;
    padding: 0 68px 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-input {
    background-color: #99823D;
    width: 90%;
    height: 85%;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
.footer-input_body {
    padding: 0 68px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    & input {
        width: 73%;
        height: 33.33%;
        font-weight: 700;
        font-size: 11px;
        line-height: 34px;
        letter-spacing: 2.7625px;
        color: #3D3D3D;
        padding-left: 10px;
    }
    & input::placeholder {
        text-transform: uppercase;
    }
    & a {
        width: 155px;  
        height: 33.33%;
    }
}
.footer-nav_list {
    display: flex;
    gap: 15px;
}
.footer-nav_item {
    transition: all .5s;
    & a {
        font-weight: 400;
        font-size: 11px;
        line-height: 309%;
        letter-spacing: 2.7625px;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all .5s;
    }
    & a:hover {
        color: #99823D;
    }
    .footer-nav_item:active {
        transform: scale(0.95);
    }
}
.footer-copyright {
    & span {
        color: rgba(255, 255, 255, 0.75);
    }
    font-weight: 400;
    font-size: 11px;
    line-height: 309%;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
}