* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

.relative {
  position: relative;
}

.removePopup {
  display: flex;
  box-shadow: 0px 0px 25px black;
  -webkit-animation: pulsPopup 2s infinite ease-in;
          animation: pulsPopup 2s infinite ease-in;
}
@-webkit-keyframes pulsPopup {
  0% {
    box-shadow: 0 0 0 0 rgba(153, 130, 61, 0.7);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(228, 25, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
@keyframes pulsPopup {
  0% {
    box-shadow: 0 0 0 0 rgba(153, 130, 61, 0.7);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(228, 25, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1337px;
  margin: 0 auto;
  padding: 0 15px;
}

.firstPage {
  background-color: #141414;
  height: 100%;
}

.firstPage-body {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 136px;
  background-color: rgb(153, 130, 61);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 68px;
}

.nav-list {
  display: flex;
  gap: 37px;
}

.nav-item {
  font-weight: 400;
  font-size: 11px;
  line-height: 309%;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
}
.nav-item a {
  color: #FFFFFF;
  transition: all 0.5s;
}
.nav-item a:hover {
  color: #99823D;
}

.bg-img img {
  width: 75%;
  height: 100%;
}

.firstPage-bottom {
  position: relative;
}

.firstPage-bottom_socials {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 68px;
  background-color: #EBEBEB;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  gap: 37px;
}

.socials-icon {
  display: none;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.socials-icon a svg path {
  transition: all 0.5s;
}
.socials-icon a:hover svg path {
  fill: #99823D;
}

.socials-item a {
  color: #000;
}

.block {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 37.5%;
  height: 330px;
  background: #99823D;
}

.firstPage-popup {
  position: absolute;
  z-index: 5;
  top: 136px;
  right: 68px;
  display: flex;
  flex-direction: column;
  padding: 68px;
  background-color: #FFFFFF;
}

.abovetitle {
  font-weight: 400;
  font-size: 11px;
  line-height: 151%;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #99823D;
}

.popup-title {
  width: 417px;
  margin-bottom: 30px;
  font-size: 67px;
}

.title {
  display: block;
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #141414;
  text-transform: capitalize;
}

.subtitle {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #141414;
}

.popup-subtitle {
  width: 425px;
}

.popup-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 68px;
  font-weight: 400;
  font-size: 12px;
  line-height: 149%;
  letter-spacing: 2.975px;
  text-transform: uppercase;
  overflow: hidden;
  color: #FFFFFF;
  transition: all 0.5s;
}

.btn-line {
  position: absolute;
  display: block;
}

.btn-line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #fff);
}

.btn-line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #fff);
}

.btn-line--left {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #fff);
}

.btn-line--right {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
}

.btn-gold {
  background-color: #99823D;
}

.btn-black {
  background-color: #141414;
}

.btn:hover {
  box-shadow: 0 0 20px #99823D;
  opacity: 0.8;
}

.btn:hover .btn-line--top {
  left: 100%;
  transition: all 1s;
  transition-delay: 0.25s;
}

.btn:hover .btn-line--bottom {
  right: 100%;
  transition: all 1s;
  transition-delay: 0.25s;
}

.btn:hover .btn-line--left {
  bottom: 100%;
  transition: all 1s;
  transition-delay: 0.25s;
}

.btn:hover .btn-line--right {
  top: 100%;
  transition: all 1s;
  transition-delay: 0.25s;
}

.twoPage {
  background-color: #EBEBEB;
}

.firstPage-popup-mob {
  padding: 50px 0;
  display: none;
  position: static;
  background-color: #EBEBEB;
}
.firstPage-popup-mob .popup-text {
  font-size: 15px;
}
.firstPage-popup-mob .popup-title {
  width: 100%;
}
.firstPage-popup-mob .popup-subtitle {
  width: 100%;
}

.thirdPage {
  padding: 100px 68px 100px;
  background-color: #EBEBEB;
}

.thirdPage-body {
  display: flex;
  flex-direction: column;
}

.thirdPage-content {
  display: flex;
  justify-content: space-around;
  gap: 35px;
}

.thirdPage-content_left {
  max-width: 820px;
}

.title-content_left {
  font-size: 53px;
  margin-bottom: 30px;
}

.subtitle span:not(:last-child) {
  display: block;
  margin-bottom: 15px;
}

.thirdPage-content_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content-right_item {
  cursor: pointer;
  position: relative;
  width: 323px;
  transition: all 0.5s;
}

.content-right_item::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  right: 0;
  bottom: -5px;
  background: linear-gradient(270deg, transparent, #99823D);
  transition: all 0.5s;
}

.content-right_item:hover::before {
  width: 100%;
}

.title-content_right {
  font-size: 26px;
}

.thirdPage-numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.thirdPage-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  display: flex;
  font-size: 59px;
  font-weight: 700;
}

.numberSwiper {
  overflow: hidden;
}

.swiper {
  margin-left: 0;
  margin-right: 0;
}

.swiper-margin_bottom {
  margin-bottom: 30px;
}

.swiper-pagination-bullet-active {
  background: #99823D;
}

.fourthPage {
  position: relative;
}

.fourthPage::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 30%;
  width: 100%;
  background-color: #EBEBEB;
}

.fourthPage-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.fourthPage-items {
  position: relative;
}
.fourthPage-items img {
  width: 100%;
  height: 100%;
}

.item-block_top {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background: #141414;
  font-weight: 400;
  font-size: 11px;
  line-height: 148%;
  letter-spacing: 2.72px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.item-block_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  height: 25%;
  background: #141414;
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.item-block_gold {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 40%;
  background: #99823D;
  font-weight: 400;
  font-size: 11px;
  line-height: 309%;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.imgSwiper {
  overflow: hidden;
}

:root {
  --swiper-theme-color: rgb(236, 202, 99);
}

.mini-block_black {
  margin-top: 68px;
  margin-bottom: 68px;
  width: 11px;
  height: 11px;
  background: #222222;
}

.block_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifthPage {
  padding-bottom: 100px;
}

.fifthPage-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.fifthPage-body_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fifthPage-title {
  max-width: 800px;
  font-weight: 700;
  text-align: center;
  font-size: 53px;
}

.fifthPage-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fifthPage-item {
  padding: 34px;
  transition: all 0.5s;
}

.fifthPage-item:hover {
  box-shadow: 0px 0px 15px #99823D;
}

.fifthPage-item_body {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.fifthPage-body__img svg {
  width: 100%;
  height: 100%;
}

.fifthPage-body__content {
  display: flex;
  flex-direction: column;
}

.body__content__title {
  font-size: 26px;
}

.fifthPage-btn {
  width: 400px;
  height: 68px;
}
.fifthPage-btn a {
  width: 100%;
}

.no-scroll {
  overflow-y: hidden;
}

#nav-icon1 {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 99;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #EBEBEB;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
  background: white;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
  background: white;
}

.mobile-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 9;
  min-height: 100vh;
  width: 100%;
  background: #99823D;
  transition: all 0.5s;
}

.logo-mob {
  position: absolute;
  left: 50px;
  top: 50px;
}

.mobile-nav-active {
  opacity: 1;
  visibility: visible;
}

.list-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-mob .btn-mob {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  color: #FFFFFF;
  overflow: hidden;
  font-weight: 400;
  font-size: 20px;
  line-height: 309%;
  letter-spacing: 2.7625px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.nav-mob .btn-line--color {
  background: linear-gradient(180deg, transparent, #141414);
}
.nav-mob a:hover {
  color: #1b131d;
  transition: all 1s;
  transition-delay: 1s;
}

@media (max-width: 1120px) {
  .firstPage-popup-mob {
    display: flex;
  }

  .removePopup {
    display: none;
  }

  .thirdPage {
    padding-top: 50px;
  }
}
@media (max-width: 1024px) {
  .block {
    display: none;
  }

  .bg-img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .bg-img img {
    width: 100%;
  }

  .firstPage-bottom_socials {
    justify-content: center;
  }

  .content-right_item {
    max-width: 200px;
  }

  .fifthPage-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 920px) {
  #nav-icon1 {
    display: block;
  }

  .navigation {
    display: none;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 217px;
    height: 90px;
  }
  .logo img {
    width: 50%;
    height: 50%;
  }

  .thirdPage {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .thirdPage-content {
    flex-direction: column;
  }

  .thirdPage-content_right {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }

  .content-right_item {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .socials-icon {
    display: none;
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
    gap: 0;
  }

  .socials-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
    gap: 0;
  }

  .fifthPage-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 425px) {
  .socials-list {
    display: none;
  }

  .socials-icon {
    display: flex;
  }

  .logo {
    width: 150px;
    height: 68px;
  }

  .bg-img img {
    width: 100%;
  }

  .firstPage-bottom_socials {
    height: 50px;
  }

  .firstPage-popup-mob .popup-text {
    font-size: 11px;
  }
  .firstPage-popup-mob .popup-title {
    font-size: 40px;
    width: 100%;
    margin-bottom: 15px;
  }
  .firstPage-popup-mob .popup-subtitle {
    font-size: 16px;
    width: 100%;
  }
  .firstPage-popup-mob a {
    height: 50px;
  }

  .title-content_left {
    font-size: 40px;
  }

  .thirdPage {
    padding: 0;
  }

  .thirdPage {
    padding-bottom: 50px;
  }

  .fifthPage-title {
    font-size: 40px;
  }

  .fifthPage-btn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */